
<a href="/"><img src="../img/voltar.png"></a>
<div class="dados_equipe">
    <div class= "dados">
        <img id='unifei' src="../img/unifei.png">
        <h1> Controle de Periculosidade via RFID</h1>                
        <h3>Universidade Federal de Itajubá – UNIFEI</h3>                
        <h3>COM241 – Administração e Gerenciamento de Redes de Computadores</h3>
        <h3>Prof: Bruno Guazzelli Batista</h3>                
    </div>
        <hr>
    <div class= "descricao">
        <h2> Breve DescriÇão:</h2>
        <h4>
            O Projeto consiste na implementacao de Sistema de Monitoramento de Colaboradores em Ambientes de Risco 
            através da leitura de tag’s RFID com envio de informacão utilizando a arquitetura Publish/Subscriber 
            com o Protocolo AMQP.
        </h4>
        <h5> Para replicação e mais informações sobre o projeto veja o tutorial.</h5>
    </div>
    <hr>
    <div class = "equipe">
        <h2>Integrantes do Projeto:</h2> 
        <h4>
            Caio N. Sasaki - caiosasaki@unifei.edu.br<br/>
            Ivan Leoni V. Boas - ivanleoni30@unifei.edu.br<br/>
            Mateus C. Rosa - mateuscr@unifei.edu.br<br/>
            Rodrigo F. Dias - rodrigofilippo@unifei.edu.br<br/>
        </h4>
    </div>
</div>        

