<div class = "Todos_menus">
    <div class="menu">
        <a class="btn" href="/controle" role="button">Controle</a>
    </div>
    <div class="menu">
        <button class="btn">Colaborador</button>
        <div class="sub_menu">
            <a href="/inserir_funcionario">Novo Colaborador</a>
            <a href="/listar_funcionario">Listar Colaboradores</a>
        </div>
    </div>
    <div class="menu">
        <button class="btn">EPI's</button>
        <div class="sub_menu">
            <a href="/inserir_epi">Novo EPI</a>
            <a href="/listar_epi">Listar EPIs</a>
        </div>
    </div>    
    <div class="menu">
        <a class="btn" href="/equipe" role="button">Equipe</a>
    </div>    
</div>
<div class="center">
    <h2>Controle de Periculosidade via RFID</h2>
</div>